<div class = "centered">
  <br>
  <h2>Create New Event</h2>
  <p>Chefs can bid for a chance to cater at your event.</p>

  <form action="/events/edit/{{event._id}}" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <label>Name of Event</label>
      <input class="form-control" type="text" name="name" value="{{event.name}}">
    </div>
    
    <div class="form-group">
      <label>Type</label>
      <input class="form-control" type="text" name="type" value="{{event.type}}">
    </div>

    <div class="form-group">
      <label>Types of Food</label>
      <input class="form-control" type="text" name="foodTypes" value="{{event.foodTypes}}">
    </div>
    
    <div class="form-group">
      <label>Capacity</label>
      <input class="form-control" type="number" name="capacity" value="{{event.capacity}}" >
    </div>

    <div class="form-group">
      <label>Date of your event</label>
      <input class="form-control" type="date" name="date" value="{{event.date}}">
    </div>
    
    <div class="form-group">
      <label>Start time</label>
      <input class="form-control" type="time" name="start" value="{{event.start}}">
    </div>
    
    <div class="form-group">
      <label>End time</label>
      <input class="form-control" type="time" name="end" value="{{event.end}}">
    </div>
    
    <div class="form-group">
      <label>Describe your event</label>
      <textarea class="form-control" type="text" name="description">{{event.description}}</textarea>
    </div>

    <hr>
    <h5>Add a location to your event!</h5>
    <p>Search on the map to autocomplete address, or type below</p>

    <div id='map' style='width: 100%; height: 450px;'></div>
    <div class="form-group">
      <label>Address:</label>
      <input class="form-control" type="text" name="address" value="{{event.address}}" id="address">
    </div>
    
    <div class="form-group">
      <label>City</label>
      <input class="form-control" type="text" name="city" value="{{event.city}}" id="city">
    </div>
    
    <div class="form-group">
      <label>State/Region/Province</label>
      <input class="form-control" type="text" name="state" value="{{event.state}}" id="state">
    </div>
    
    <div class="form-group">
      <label>Country</label>
      <input class="form-control" type="text" name="country" value="{{event.country}}" id="country">
    </div>
        

    <hr>

    <h5>Select a picture for your event</h5>
    <p>(Max: 10MB)</p>
    <br>
    <input class="form-control-file" type="file" name="image">
    <input type="text" name="existingImage" id="" value="{{event.picture}}" hidden>
    <br>
    <input type="text" name="lat" value="{{lat}}" id="lat" hidden>
    <input type="text" name="lng" value="{{lng}}" id="lng" hidden>

    <hr>

    <button class="btn btn-danger btn-block" style="background-color: #ff5722;" type="submit" id="button">Change Event</button>
    <input type="button"  class="btn btn-outline-secondary btn-block" value="Go back" onclick="history.back()">
  </form>

</div>

<script>
  mapboxgl.accessToken = '{{token}}';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [{{ event.location.coordinates }}],
    zoom: 12
  });
 const gc = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  })
  gc.on("result", e=>{
    const { result: {center, context, place_type, place_name, text}}=e
    console.log(e.result)
    if(place_type.includes("address")){
    document.querySelector('#country').value = context[context.length-1].text
    document.querySelector('#state').value = context[context.length-2].text
    document.querySelector('#city').value = context[context.length-3].text
    document.querySelector('#address').value = place_name
    document.querySelector('#lng').value = center[0]
    document.querySelector('#lat').value = center[1]
    document.querySelector('button').removeAttribute('disabled')
    } else{
    document.querySelector('#address').value = text
    document.querySelector('#lng').value = center[0]
    document.querySelector('#lat').value = center[1]
    }
  })
  map.addControl(gc)
  new mapboxgl.Marker().setLngLat([{{ event.location.coordinates }}]).addTo(map)
</script>
