<div class="left">
  <br>
  <h1>My Events</h1>

  <a href="/profile"><button class="btn btn-outline-secondary">Back to Profile</button></a>
  <a href="/events/create"><button class="btn btn-danger " style="background-color: #ff5722;">Create New Event</button></a>

  <ul class="ul-cards">
  {{#each events}}
    <div class = "card" style="width: 18rem; margin:10px 10px 0 0;">
      
      <img src="{{picture}}" class="card-img-top" alt="imagen" {{!-- style="height: 200px;" --}}>
      <div class="card-body">
        <h4 class="card-title" href="/events/detail/{{_id}}">{{name}}</h4>
        <h5 class="card-subtitle mb-2">{{type}}</h5>
        <h6 class="card-subtitle mb-2">{{foodTypes}}</h6>
        <p class="card-text">{{description}}</p>
        <a href="/events/edit/{{_id}}" class="card-link"><button class="btn btn-primary btn-block">View Details</button></a>
        <br>
        <a href="/events/detail/{{_id}}"class="card-link"><button class="btn btn-outline-secondary btn-sm">Edit</button></a>
        <a href="/events/delete/{{_id}}" class="card-link"><button class="btn btn-outline-danger btn-sm">Delete</button></a>
      </div>
    </div>
  {{/each}}
  </ul>
</div>
