<h1>Event Details</h1>
<label for="name">{{name}}</label>
<br>
<label for="type">Type of event:{{type}} </label>
<br>
<img src="{{picture}}" alt="" style="width: 600px;">
<br>
<label for="city">City:{{city}}  </label>
<br>
<label for="state">State/Province/Region:{{state}}</label>
<br>
<label for="country">Country:{{country}}</label>
<br>
<label for="capacity">Capacity:{{capacity}} </label>
<br>
<label for="start">Starts at:{{start}}</label>
<br>
<label for="end">Ends at:{{end}}</label>
<br>
<label for="description">Description:{{description}} </label>
<br>
<label for="date">Date:{{date}}</label>
<br>
<label for="foodTypes">Types of food:{{foodTypes}}</label>
<br>
<label for="menu">Menu:{{menu}}</label>
<br>
<button><a href="/events/events-user">All events</a></button>
<button><a href="/events/edit/{{id}}">Edit this event</a></button>