<div class = "event-photo">
  <img src="{{event.picture}}" alt="">
</div>

<div class="left">
  <br>
  <input type="button"  class="btn btn-outline-secondary" value="Go back" onclick="history.back()">
  
  <br><br>

  <label for="name"><h2>{{event.name}}</h2></label>
  <br>
  <label for="type">{{event.type}}</label>
  <hr>
  <label for="foodTypes"><strong>Cuisine: </strong>{{event.foodTypes}}</label>
  <br>
  {{#if event.address}}
  <label for="address"><strong>Address:</strong> {{event.address}}</label>
  <br>
  {{/if}}
  {{#if event.city}}
  <label for="city"><strong>City:</strong> {{event.city}}  </label>
  <br>
  {{/if}}
  {{#if event.state}}
  <label for="state"><strong>State/Province/Region:</strong> {{event.state}}</label>
  <br>
  {{/if}}
  {{#if event.country}}
  <label for="country"><strong>Country:</strong> {{event.country}}</label>
  <br>
  {{/if}}
  <label for="capacity"><strong>Capacity:</strong> {{event.capacity}} </label>
  <br>
  <label for="start"><strong>Starts at:</strong> {{event.start}}</label>
  <br>
  <label for="end"><strong>Ends at:</strong> {{event.end}}</label>
  <br>
  <label for="description"><strong>Description:</strong> {{event.description}} </label>
  <br>
  <label for="date"><strong>Date:</strong> {{event.date}}</label>

  <br><br>

  <a href="/events/{{event._id}}/publicmenu/"><button class="btn btn-danger" style="background-color: #ff5722">View menu</button></a>
  <a href="/profile/{{user._id}}"><button class="btn btn-success">Get in touch with the organizer!</button></a>
  <hr>
  <h4>Event Location</h4>
  <div id='map' style='width: 100%; height: 450px;'></div>
</div>

<script>
  mapboxgl.accessToken = '{{token}}';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [{{ event.location.coordinates }}],
    zoom: 12
  });
  new mapboxgl.Marker().setLngLat([{{ event.location.coordinates }}]).addTo(map)
</script>
