<h1>My Menu Items</h1>
<input type="button" value="Go back!" onclick="history.back()">
<a href="/events/{{id}}/menu/create"><button>Add a new dish</button></a>
<ul>
  {{#each menus}}
    <div class = "menu-item">
      <h3>{{name}}</h3>
      <h4>{{type}}</h4>
      <p>{{price}}</p>
      <p>{{description}}</p>
      <a href="/events/{{id}}/menu/edit"><button>Edit</button></a>
      <a href="/events/{{id}}/menu/delete"><button>Delete</button></a>
    </div>
  {{/each}}
</ul>