<div class="left">

  <h1>My Menu Items</h1>

  {{!-- <input type="button" value="Go back!" onclick="history.back()"> --}}
  <a href="/profile"><button type="button" class="btn btn-outline-secondary">Go Back</button></a>

  <a href="/menus/create"><button class="btn btn-danger " style="background-color: #ff5722;">Add a new dish</button></a>
  <ul>
    {{#each menus}}
      <div class = "card" style="width: 18rem; margin:0;">
        <div class="card-body">
          <h4 class="card-title">{{name}}</h4>
          <h5 class="card-subtitle mb-2 text-muted">{{type}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{price}}</p>
          <p class="card-text">{{description}}</p>
          <a href="/menus/edit/{{_id}}" class="card-link"><button class="btn btn-outline-secondary btn-sm" >Edit</button></a>
          <a href="/menus/delete/{{_id}}"class="card-link"><button class="btn btn-outline-danger btn-sm">Delete</button></a>
        </div>
      </div>
    {{/each}}
  </ul>
</div>