<h1>My Menu Items</h1>
<a href="/profile"><button>Back</button></a>

<a href="/menus/create"><button>Add a new dish</button></a>
<ul>
  {{#each menus}}
    <div class = "menu-item">
      <h3>{{name}}</h3>
      <h4>{{type}}</h4>
      <p>{{price}}</p>
      <p>{{description}}</p>
      <a href="/menus/edit/{{_id}}"><button>Edit</button></a>
      <a href="/menus/delete/{{_id}}"><button>Delete</button></a>
    </div>
  {{/each}}
</ul>