<div class = "profileInfo">

  <div class="column">
    <img src="{{picture}}" alt="Profile Photo" style="width: 300px; border-radius: 10px;">
    
    <br><br>
  </div>

  <div class="column">
    {{#if isChef}}
    <h3>{{role}} {{names}} {{lastNames}}</h3>
    <hr>
    {{else}}
    <h3>{{names}} {{lastNames}}</h3>
    {{/if}}

    <a href="/sendemail/{{_id}}"><button class="btn btn-success">Get in touch!</button></a>
    {{#if isChef}}
      <a href="/profile/{{_id}}/menu"><button class="btn btn-danger" style="background-color: #ff5722;">View menus</button></a>
    {{/if}}
    <a href="/events/{{_id}}/events-user"><button class="btn btn-primary">View Events</button></a>
    <br><br>

    <label for="role"><strong>Account type:</strong> {{role}}</label> 
    <br>
    <label for="names"><strong>Name:</strong> {{names}}</label>
    <br>
    <label for="lastNames"><strong>Last Name:</strong> {{lastNames}}</label>
    <br>
    <label for="email"><strong> Email:</strong> {{email}}</label>
    <br>
    <label for="favFoods"><strong>Favorite Foods:</strong> {{favFoods}}</label>
    <br>
    <label for="description"><strong>Bio:</strong> {{description}}</label>

    <br><br>

    <h5><strong>Contact Info</strong></h5>
    <hr>
    <label for="phoneNumber"><strong>Phone number:</strong> {{phoneNumber}}</label>
    <br>
    <label for="city"><strong>City:</strong> {{city}}</label>
    <br>
    <label for="state"><strong>State/Region/Province:</strong> {{state}}</label>
    <br>
    <label for="country"><strong>Country:</strong> {{country}}</label>
    <br>

    {{#if isChef}}

      <br><br>

      <h5><strong>Chef Profile</strong></h5>
      <hr>

      {{#unless rating}}
        <label for="rating">Rating: No ratings yet!</label>
        <br>
        {{else}}
        <label for="rating">Rating: {{rating}}</label>
        <br>
      {{/unless}}

      {{!-- {{#unless menu}}
        <label for="menu">Menu: No menu yet!</label>
        <br>
        {{else}}
        <label for="menu">Menu: {{menu}}</label>
        <br>
      {{/unless}} --}}

      {{#unless reviews}}
        <label for="reviews">Reviews: No reviews yet!</label>
        <br>
        {{else}}
        <label for="reviews">Reviews: {{reviews}}</label>
        <br>
      {{/unless}}

    {{/if}}
  </div>
</div>
