<div class="centered">
  
  <br><br>
  <div class = "profilePhotoBig">
    <img src="{{picture}}" alt="Profile Photo" style="width: 300px; border-radius: 10px;">
  </div>
  <br> 

  {{#if isChef}}
    <h3>Hello, Chef {{names}}</h3>
  {{else}}
    <h3>Hello, {{names}}</h3>
  {{/if}}
  

  
  {{!-- <label for="role"><strong>{{role}}</strong></label> 
  <br> --}}

  <br>

  <div class="inline" style="display:flex; flex-direction:row; align-items:center;">
    {{#if isChef}}
      <a href="/menus"><button type="button" style="margin:5px; background-color: #ff5722;" class="btn btn-danger">My Menu</button></a>
    {{/if}}
    <a href="/events/events-user"><button type="button" style="margin:5px; " class="btn btn-primary">My Events</button></a>
    <a href="/profile/edit"><button type="button" style="margin:5px;" class="btn btn-outline-secondary">Edit Profile</button> </a>
  </div>

  <br>



  <div class = "profileInfo">

    <div class ="column">
      <h5><strong>Profile</strong></h5>
      <hr>

      <label for="names"><strong>Name:</strong> <br>{{names}} {{lastNames}}</label>
      <hr>
      <label for="email"><strong>Email:</strong> <br>{{email}}</label>
      <hr>
      <label for="favFoods"><strong>Favorite Foods:</strong> <br>{{favFoods}}</label>
      <hr>
      <label for="description"><strong>Bio:</strong> <br>{{description}}</label>
    </div>

    <div class ="column">
      <h5><strong>Contact Info</strong></h5>
      <hr>

      <label for="phoneNumber"><strong>Phone number:</strong> <br>{{phoneNumber}}</label>
      <hr>
      <label for="city"><strong>City:</strong> <br>{{city}}</label>
      <hr>
      <label for="state"><strong>State/Region/Province:</strong> <br>{{state}}</label>
      <hr>
      <label for="country"><strong>Country:</strong> <br>{{country}}</label>
    </div>

    <div class ="column">
      {{#if isChef}}
        <h5><strong>Chef Profile</strong></h5>
        <hr>

        {{#unless rating}}
          <label for="rating"><strong>Rating:</strong> <br>No ratings yet!</label>
          <br>
          {{else}}
          <label for="rating"><strong>Rating:</strong> <br>{{rating}}</label>
          <br>
        {{/unless}}

        <hr>
        {{!-- {{#unless menu}}
          <label for="menu">Menu: No menu yet!</label>
          <br>
          {{else}}
          <label for="menu">Menu: {{menu}}</label>
          <br>
        {{/unless}} --}}

        {{#unless reviews}}
          <label for="reviews"><strong>Reviews:</strong> <br>No reviews yet!</label>
          <br>
          {{else}}
          <label for="reviews"><strong>Reviews:</strong> <br>{{reviews}}</label>
          <br>
        {{/unless}}

      {{/if}}
    </div>

  </div>

</div>


