<div class="centered">
  
  <br><br>
  
  {{#if isChef}}
    <h3>Hello, Chef {{names}}</h3>
    {{else}}
    <h3>Hello, {{names}}</h3>
  {{/if}}

  <div class="inline" style="display:flex; flex-direction:row; align-items:center;">
    {{#if isChef}}
      <a href="/menus"><button type="button" style="margin:5px; background-color: #ff5722;" class="btn btn-danger">My Menu</button></a>
    {{/if}}
    <a href="/events/events-user"><button type="button" style="margin:5px; " class="btn btn-primary">My Events</button></a>
    <a href="/profile/edit"><button type="button" style="margin:5px;" class="btn btn-outline-secondary">Edit Profile</button> </a>
  </div>

  <br><br>

  <div class = "profile-info">

    <h4>Profile</h4>
    <hr>
    <img src="{{picture}}" alt="Profile Photo" style="width: 200px">
    <br>

    <label for="role"><strong>{{role}}</strong></label> 
    <br>
    <label for="names"><strong> Name:</strong> {{names}}</label>
    <br>
    <label for="lastNames"> Last Name: {{lastNames}}</label>
    <br>
    <label for="email">Email: {{email}}</label>
    <br>
    <label for="favFoods">Favorite Foods: {{favFoods}}</label>
    <br>
    <label for="description">Bio: {{description}}</label>

    <h3>Contact Info</h3>
    <hr>
    <label for="phoneNumber">Phone number: {{phoneNumber}}</label>
    <br>
    <label for="city">City: {{city}}</label>
    <br>
    <label for="state">State/Region/Province: {{state}}</label>
    <br>
    <label for="country">Country: {{country}}</label>
    <br>

  {{#if isChef}}
    <h3>Chef Profile</h3>
    <hr>

    {{#unless rating}}
      <label for="rating">Rating: No ratings yet!</label>
      <br>
      {{else}}
      <label for="rating">Rating: {{rating}}</label>
      <br>
    {{/unless}}

    {{!-- {{#unless menu}}
      <label for="menu">Menu: No menu yet!</label>
      <br>
      {{else}}
      <label for="menu">Menu: {{menu}}</label>
      <br>
    {{/unless}} --}}

    {{#unless reviews}}
      <label for="reviews">Reviews: No reviews yet!</label>
      <br>
      {{else}}
      <label for="reviews">Reviews: {{reviews}}</label>
      <br>
    {{/unless}}

  {{/if}}
  </div>

  <br><br>

</div>


