{{!-- {{#unless error}}
  <h1>Feed</h1>
{{/unless}} --}}
<div class="left">
{{#if error}}
  <h1>No results found :(</h1>
  <p>Try your search again or view all</p>
{{/if}}
</div>

<div class="left">
{{#if users}} 
  <h1>Feed</h1>
  <div class="row">
  <ul class="ul-cards">
    {{#each users}}
      <div class = "card" style="display:flex; flex-direction: column; align-items: center; text-align: center; width: 18rem; margin:10px 10px 0 0;padding:10px">
        <div class="profilePhotoBig">
          <img src="{{picture}}" alt="imagen">
          </div>
        <div class = "card-body">
          <a href="/profile/{{_id}}"><h3>{{names}}</h3></a>
          <h5>{{role}}</h5>
          
        </div>
      </div>
    
    {{/each}}
    
  </ul>
  </div>
{{/if}}
</div>

<div class="left">
{{#if events}}
  <h2>Public events</h2>
  <div class="row">
  <ul class="ul-cards">
    {{#each events}}
      <div class = "card" style="width: 20rem; margin:10px 10px 0 0;">
        <img src="{{picture}}" class="card-img-top" alt="imagen">
        <div class = "card-body">
          <h4 class="card-title"><a href="events/{{id}}/events-user/detail">{{name}}</a></h4>
          <br>
          <label for="type">{{type}} </label>
          <br>
          <label for="foodTypes">Types of food: {{foodTypes}}</label>
          <br>
          <label for="city">City: {{city}}</label>
          <br>
          <label for="date">Date: {{date}}</label>
          <br>
          <a href="events/{{id}}/events-user/detail"><button class="btn btn-outline-secondary btn-sm btn-block">More Info</button></a>
        </div>
      </div>
    {{/each}}
  </ul>
  </div>
  
{{/if}}
</div>

